<div>
  {{#if products.length}}
    {{#each products}}
      <div>
        {{#each thumbnails}}
          <img src="{{this}}" alt="productItem">
        {{/each}}
        <h2>{{this.title}}</h2>
        <p>NKU:{{this.code}}</p>
        <p>{{this.description}}</p>
        <h2>${{this.price}}</h2>
      </div>
    {{/each}}
      <div>
        <h2>Page {{currentPage}} of {{totalPages}}</h2>
        {{#if hasPrevPage}}
          <a href={{hasPrevPage}}><button>Previous</button></a>
        {{/if}}
        {{#if hasNextPage}}
          <a href={{hasNextPage}}><button>Next</button></a>
        {{/if}}
      </div>
  {{else}}
    <h2>Product not found</h2>
  {{/if}} 
</div>

<script src="/socket.io/socket.io.js"></script>