<div id="profile">
  <h1>hola {{user.first_name}}</h1>
  <p>nombre completo: {{user.first_name}} {{user.last_name}}</p>
  <p>email: {{user.email}}</p>
  <p>role: {{user.role}}</p>
  <a href="/api/products"><button>PRODUCTS</button></a>
  <a href='/logout'><button>LOG OUT</button></a>
</div>

<script src="/js/signOut.js"></script>
```