<div>
  {{#if users.length}}
    
      <div>
        <table>
          <tr>
            <th>FIRST NAME</th>
            <th>LAST NAME</th>
            <th>EMAIL</th>
            <th>ROLE</th>
            <th>ID</th>
            <th>CART</th>
          </tr>
          {{#each users}}
            <tr>
              <td>{{first_name}}</td>
              <td>{{last_name}}</td>
              <td>{{email}}</td>
              <td>{{role}}</td>
              <td>{{_id}}</td>
              <td>{{cart}}</td>
            </tr>
          {{/each}}
        </table>
    
      <div>
        <h2>Page {{currentPage}} of {{totalPages}}</h2>
        {{#if hasPrevPage}}
          <a href={{hasPrevPage}}><button>Previous</button></a>
        {{/if}}
        {{#if hasNextPage}}
          <a href={{hasNextPage}}><button>Next</button></a>
        {{/if}}
      </div>
  {{else}}
    <h2>User not found</h2>
  {{/if}} 
</div>

<script src="/socket.io/socket.io.js"></script>